@font-face {
    font-family: 'Vulf'; 
    src: url('fonts/VulfMono-Regular.otf');
    font-weight: normal; 
    font-style: normal;  
}

body {
    background: hsl(154 50% 5%);
    color: hsl(154 84% 70%);
    text-shadow: 0 0 4px hsl(154 84% 70%);
    font-family: 'Vulf';
    font-size: 16px;
    overflow-x: hidden;
}

pre {
    margin: auto;
    display: flex;
    text-align: left;
}

@keyframes blink {
    0% {opacity: 0}
    30% {opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
}

.blink {
    font-size:20px;
    animation: blink 0.6s linear infinite;
    position: fixed;
}

.header {
    position: relative;
    font-family: 'Vulf';
    left: 700;
}

.section  {
    position: relative;
    top: 50;
    left: 50;
}

.section h2 {
    font-size: 30px;
}

.section p {
    font-size: 20px;
    max-width: 2400px;
}

.figlet {
    font-size: 15px;
    position: relative;
    display: inline-block;
}

.subtitle {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 180;
    margin-bottom: 10px;
    margin-right: 10px;
}

.gt {
    font-size: 20px;
    position: fixed;
    left: 5px;
    min-width:3000px;
    margin-right: 2000px;
    bottom: 0px;
    background-color: hsl(154 50% 5%);
    padding: 5px;
    z-index: 10;
    margin: 0;
}


